doctype html
html(lang='en')
head
	meta(charset="utf-8")
	title Sean's Search Engine
	link(rel="stylesheet", type="text/css", href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
	link(rel="stylesheet", type="text/css", href="main.css")
body
	block content
	
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.2/handlebars.min.js")
	script(src="main.js")